<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="assets/css/chalk.css">
    <link rel="stylesheet" href="assets/css/default.css">

</head>
<body>
<a id="scrollup"><i class="el-icon-arrow-up"></i></a>
<div id="app">

</div>

</body>
<!-- import Vue before Element -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/vue.js"></script>
<!-- import JavaScript -->
<script src="assets/js/element.js"></script>
<script src="assets/js/locale.js"></script>
<script src="assets/js/app.js"></script>
<template id="apptemplate">
    <div>
        <div style="position:fixed;">
            <el-button @click="currentFunction=0" v-bind:class="{currentbutton:currentFunction==0}">Add to Table
            </el-button>
            <el-button v-bind:class="{currentbutton:currentFunction==2}" @click="currentFunction=2"
                       :disabled="tableData.length==0">Export Table
            </el-button>
        </div>
        <h1 style="text-align:center;">Keyword Cleaner</h1>
        <p style="text-align:center;">Enter results from <a href="http://keywordshitter.com">keywordshitter.com</a> with
            Keywords Everywhere results</p>
        <el-container>

            <!-- area for add to table "tab" -->
            <el-aside width=="500px" v-if="currentFunction==0">
                <h2>Enter Keywords to add to the Table</h2>
                <div style="text-align:center;">
                    <el-button type="primary" :disabled="keywordInput.length==0" @click="parsekeywords">Add To Table
                    </el-button>
                    <el-button type="danger" :disabled="keywordInput.length==0" @click="clearkeywordtextarea">Clear
                    </el-button>
                    <el-button type="danger" :disabled="tableData.length==0" @click="tableData=[]">Clear Table
                    </el-button>
                    <el-checkbox v-model="clearInputAfter">Clear Input After Entered</el-checkbox>
                </div>
                <hr>
                <el-input
                        type="textarea"
                        :autosize="{ minRows: 6}"
                        id="keywordtextarea"
                        width="300px"
                        placeholder="Example [165,000/mo - $0.41 - 0]"
                        v-model="keywordInput">
                </el-input>

            </el-aside>

            <el-main v-if="currentFunction==0">
                <!--<el-button @click="csvExport">Select Table Contents to Paste in Excel</el-button>-->


                <el-table

                        v-loading="tableloading"
                        :data="tableData"
                        :default-sort="{prop: 'monthlysearch', order: 'descending'}"
                        style="width: 100%">
                    <el-table-column
                            prop="keyword"
                            label="Keyword"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="monthlysearch"
                            label="Monthly Search Volume"
                            width="200"
                            sortable
                    >
                    </el-table-column>
                    <el-table-column
                            prop="costperclick"
                            label="Cost Per Click"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            prop="competition"
                            label="Competition"
                            sortable>
                    </el-table-column>

                </el-table>

            </el-main>
            <!-- end area for for add to table "tab" -->


            <el-main v-if="currentFunction==2">
                <div style="text-align:center;">
                    <el-button type="primary" @click="generatetable">Generate Table</el-button>
                    <el-button @click="selectElementContents"  style="text-align:center;">Select Table</el-button>
                    <hr>
                </div>
                <div ref="exporttable" id="tabletocopy">

                </div>
            </el-main>
            <!-- area for export -->


        </el-container>

    </div>

</template>


<script>

    Vue.component('appwrapper', {
        template: '#apptemplate',
        data: function () {
            return {
                keywordInput: '',
                tableData: [],
                tableLoading: false,
                currentFunction: 0,
                clearInputAfter: true,
                exportedTable: ''
            }
        },
        methods: {

            generatetable: function () {
                var table = '<table>' +
                    '<tr>' +
                    '<td>Keyword</td><td>Searchs per month</td><td>CPC</td><td>Competition</td></tr>';
                for (var i = 0; i < this.tableData.length; i++) {
                    table = table + '<tr>' +
                        '<td>' + this.tableData[i].keyword + '</td><td>' + this.tableData[i].monthlysearch + '</td><td>' + this.tableData[i].costperclick + '</td><td>' + this.tableData[i].competition + '</td>' + '</tr>';

                }
                table = table + '</table>';

                this.$refs.exporttable.innerHTML = table;


            },
            selectElementContents: function () {
                window.getSelection().selectAllChildren(document.getElementById('tabletocopy'));
                const h = this.$createElement;
                this.$notify({
                    title: 'Table Selected',
                    message: h('b',  'Now press Control/Command-C to copy the table to the clipboard to be pasted in to Excel.'),
                    position: 'top-right'
                });

            },
            removeduplicateobjectinarray: function (objectsArray) {
                var usedObjects = {};

                for (var i = objectsArray.length - 1; i >= 0; i--) {
                    var so = JSON.stringify(objectsArray[i]);

                    if (usedObjects[so]) {
                        objectsArray.splice(i, 1);

                    } else {
                        usedObjects[so] = true;
                    }
                }

                return objectsArray;
            },
            clearkeywordtextarea: function () {
                this.keywordInput = '';
                $('#keywordtextarea').focus();

            },

            validateAndAddLineToData: function (keyword) {
                try {
                    //Below will parse lines such as : hello world [90,500/mo - $1.57 - 0.01]
                    // To keyword, volume per month, CPC, and CPC Competition

                    var trimmedKeyword = keyword.trim();
                    // get word

                    var firstWord = trimmedKeyword.split('[')[0];

                    var finalFirstWord = firstWord.trim();
                    //first word gotten

                    //get monthly searches
                    //below will provide 22,200/mo - $0.03 - 0.01]
                    var tempMonthSearch = trimmedKeyword.split('[')[1];
                    // so we split again which will provide us 22,200
                    var finalMonthSearch = parseInt(tempMonthSearch.split('/')[0].replace(',', ''));

                    //end of  finalmonth search

                    //get third part
                    //  \$\d*.*\d   <-- this will get $0.03 - 0.01
                    var regex = /\$\d*.*\d/g;
                    var tempResult = regex.exec(trimmedKeyword);


                    var thirdPart = tempResult[0].split('-')[0];
                    var finalCostPerClick = thirdPart.trim();


                    //fourth part
                    var fourthPart = tempResult[0].split('-')[1];
                    var finalCompetition = fourthPart.trim();

                } catch (err) {
                    return false;
                }
                if (!finalFirstWord && !finalMonthSearch && !finalCostPerClick && !finalCompetition) {
                    //something went wrong when parsing one of the parts
                    return false;
                } else {
                    return {
                        'keyword': finalFirstWord,
                        'monthlysearch': finalMonthSearch,
                        'costperclick': finalCostPerClick,
                        'competition': finalCompetition,
                    }

                }


            },
            parsekeywords: function () {
               // var textareatoclear = $('#keywordtextarea');
                var lines = $('#keywordtextarea').val().trim().split('\n');
                var that = this; // saving vue context to that
                that.tableLoading = true;
                var errorCount = 0;
                $.each(lines, function () {
                    var validationResult = that.validateAndAddLineToData(this); // "this" is actually the lines keyword
                    if (validationResult != false) {
                        //add to data array from object returned, else skip adding
                        //console.log(validationResult)
                        that.tableData.push(validationResult);
                    } else {
                        console.log(this + ' was bad input');
                        errorCount++;
                    }
                });
                if (errorCount != 0) {
                    const h = this.$createElement;

                    this.$notify({
                        title: 'Input Error',
                        message: h('b', {style: 'color: red'}, 'There were errors within the input data. ' + errorCount + ' entrie(s) were unable to be added due to formatting issues.'),
                        position: 'top-right'
                    });
                }
                that.tableLoading = false;
                if (that.tableData.length > 0) {
                    that.tableData = that.removeduplicateobjectinarray(that.tableData);

                }
                if (that.clearInputAfter == true) {

                    this.keywordInput = '';

                }
            }

        }
    });

    new Vue({
        el: '#app',
        template: '<appwrapper></appwrapper>'
    });
    $(document).ready(function () {
        //When distance from top = 250px fade button in/out
        $(window).scroll(function () {
            if ($(this).scrollTop() > 250) {
                $('#scrollup').fadeIn(300);
            } else {
                $('#scrollup').fadeOut(300);
            }
        });

        //On click scroll to top of page t = 1000ms
        $('#scrollup').click(function () {
            $("html, body").animate({scrollTop: 0}, 1000);
            return false;
        });
    });

</script>
</html>